{% extends "base_generic.html" %}
{% block content %}


<div class="container">
    <p></p>
    <div class="mb-3">
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <input name="email" type="email" class="form-control"  id="email" placeholder="name@example.com">
                <p></p>
            <input type="submit" class="btn btn-primary btn-light" value="Resetear password" />
        </form>
    </div>
</div>
{% endblock %}
