<body>
<div class="row row-cols-1 row-cols-md-6 g-4">
  {% for art in articulos %}
  <div class="col">
    <div class="card h-100 border-0 shadow">
      <div class="card-header text-center" style="background-color: #ede5e8;width: 100;height: calc(2 * 2em);
              line-height: 1.5em;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;
              white-space: normal;">
        <h6 class="card-title">{{ art.descripcion }}</h6>
      </div>
      <div class="card-body"  style="background-color: #f6f5f5;">
        <a href="{% url 'articulo_detalle' art.id %}" style="text-decoration: none; color: inherit;">
        {% if art.imagen_cloud %}
          <img src="{{ art.imagen_cloud|cloudinary_url }}" alt="{{ art.descripcion }}" class="card-img-top">
        {% else %}
          <img src="{{ DEFAULT_IMAGE }}" alt="Sin imagen" class="card-img-top">
        {% endif %}    
        </a>  
      </div>
      <div class="card-footer text-end" style="background-color: #ede5e8;">
        <h6 class="precio">{{ art.precio_venta_formateado  }}</h6>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No hay artículos en esta familia.</p>
  {% endfor %}
</div>
</body>