{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% load static%}
{% block content %}

<body style="background: linear-gradient(to right, #e0ebff, #eef3fa);">
    <div class="container-fluid">
        <p></p>
        {% if user.is_authenticated %}
            <div class="card">
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="card-body">
						{% if form.errors %}
							{% for error in form.errors %}
								{{error}}
							{% endfor %}
						{% else %}
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                {{form.idempresa.as_hidden}}
								{{form.codigobarras.as_hidden}}
								{{form.descripcion.label_tag}} {{form.descripcion}}
							</div>
							<br>
							<div class="col-lg-2">
								{{form.familia.label_tag}} {{form.familia}}
							</div>
							<div class="col-lg-2">
								{{form.precio_compra.label_tag}} {{form.precio_compra}}
							</div>
							<div class="col-lg-2">
								{{form.margen.label_tag}} {{form.margen}}
                            </div>
						</div>
                        <div class="row  mb-3">
							<div class="col-lg-3">
								{{form.precio_venta.label_tag}} {{form.precio_venta}}
							</div>
							<div class="col-lg-3">
								{{form.fecha_precio.label_tag}} 
								<div class="input-group date" id="fecha-precio">
									{{form.fecha_precio}}
								</div>
							</div>
							<div class="col-lg-3">
								{{form.stock.label_tag}} {{form.stock}}
							</div>
							<div class="col-lg-3">
								{{form.fecha_stock.label_tag}} 
								<div class="input-group date" id="fecha-precio">
									{{form.fecha_stock}}
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-2">
								{{form.dtoefectvo.label_tag}}{{form.dtoefectvo}}
							</div>
							<div class="col-lg-8">
								{{form.comentarios.label_tag}} {{form.comentarios}}
							</div>
							<div class="col-lg-2">
								{{ form.activo.label_tag }}
								<div class="form-check form-switch">
									{{ form.activo|add_class:"form-check-input" }}
								</div>
							</div>
						</div>
                        {% endif %}
                    </div>  
                    <div class="card-footer">
                        <input class="btn btn-primary" id="guardar" value="Guardar" type="submit">
                        <div style="display: none;">
                            <input class="btn btn-primary" id="submit" />
                        </div>
                    </div>
                </form>
			</div>               
        {% else %}
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-2 d-none d-lg-block bg-reservas-image"><img src="{% static '/img/forviden.png' %}" style="height: auto;" class="img-fluid"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<form action="">
										<p style="color: black;font-weight: 400;"><b>No tiene permisos para visualizar ésta página</b></p>
									</form>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endif %}
</div>
</body>
<script src="{% static 'js/articulos.js' %}"></script>
{% endblock %}