{% extends "base_generic.html" %}
{% load static%}
{% block content %}

<body style="background: linear-gradient(to right, #e0ebff, #eef3fa);">
    <div class="container-fluid">
        <p></p>
        {% if user.is_authenticated %}
            <div class="card">
                <div class="card-header">
                    {% if doesentexist %}
                        <h3 style="color: red;">Creacion Articulo </h3> 
                    {% else %}
                        <h3>Detalle Articulo</h3> 
                    {% endif %}
                </div>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if form.errors %}
                            {% for error in form.errors %}
                                {{error}}
                            {% endfor %}
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{form.descripcion.label_tag}} {{form.descripcion}}
                                    </div>
                                    <div class="col-lg-3">
                                        {{form.familia.label_tag}} {{form.familia}}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                {{form.precio_venta.label_tag}} {{form.precio_venta}}
                            </div>
                            <div class="col-lg-2">
                                {{form.fecha_precio.label_tag}} {{form.fecha_precio}}
                            </div>
                            <div class="col-lg-2">
                                {{form.stock.label_tag}} {{form.stock}}
                            </div>
                            <div class="col-lg-4">
                                {{form.fecha_stock.label_tag}} {{form.fecha_stock}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                        </div>
                        {% endif %}
                    </div>  
                    <div class="card-footer">
                            <input class="btn btn-primary" id="guardar" value="Guardar" type="submit">
                            <div style="display: none;">
                                <input class="btn btn-primary" id="submit" />
                            </div>
                    </div>
                </form>
            </div>               
        {% else %}
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-2 d-none d-lg-block bg-reservas-image"><img src="{% static '/img/forviden.png' %}" style="height: auto;" class="img-fluid"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<form action="">
										<p style="color: black;font-weight: 400;"><b>No tiene permisos para visualizar ésta página</b></p>
									</form>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endif %}
</div>
</body>
<script src="{% static 'js/articulos.js' %}"></script>
{% endblock %}