<!-- carrito.html -->
{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-3">
    <h1>Carrito de Compras - {{nombre_empresa}}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header">
                    <h4>Detalle de Articulos</h4> 
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Artículo</th>
                                <th>Precio Unitario</th>
                                <th></th>
                                <th>Cantidad</th>
                                <th></th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, item in carrito.items %}
                            <tr>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.precio }}</td>
                                <td>
                                    <button class="btn btn-danger" onclick="updateCantidad('{{ key }}', -1)">-</button>
                                </td>
                                <td>
                                    <input class="form-control" id="cant{{key}}" type="text" value="{{ item.cantidad }}" style="width: 60px; text-align: center;" disabled />
                                </td>
                                <td>
                                    <button class="btn btn-success" onclick="updateCantidad('{{ key }}', 1)">+</button>
                                </td>
                                <td id="totlin{{key}}"  style="text-align: right;" disabled>{{ item.total_linea }}</td>
                                <td>
                                    <button class="btn btn-danger" id="del{{key}}" onclick="removeItem(this)">X</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5>Formas de Pago y Descuentos</h5> 
                </div>
                <div class="card-body">
                    <form id="pago-form">
                        <label for="forma_pago">Forma de Pago:</label>
                        <select class="form-control m-1" id="forma_pago" onchange="calcularTotal()">
                            {% for fpago in formas_pago %}
                                <option value={{fpago.id}}>{{fpago.get_tipo_display}}</option>
                            {% endfor %}
                        </select>
                        <label for="descuento_efectivo">Descuento Efectivo (%):</label>
                        <input class="form-control m-1" type="text" id="descuento_efectivo" style="text-align: right;" value="{{dtoefectvo}}" oninput="calcularTotal()"/>
                    
                        <label for="descuento_adicional">Descuento Adicional (%):</label>
                        <input class="form-control m-1" type="number" id="descuento_adicional" style="text-align: right;" min="0" max="100" step="1" value="0" oninput="calcularTotal()"/>

                        <label for="cliente">Cliente :</label>
                        <input class="form-control m-1" type="text" id="cliente" list="clientesList" placeholder="Ingrese el nombre del cliente"/>
                        <datalist id="clientesList">
                            {% for cliente in clientes %}
                                <option value="{{ cliente.nombre }}" data-id="{{ cliente.id }}"></option>
                            {% endfor %}
                        </datalist>
                </form>
                </div>
                <div class="card-footer">
                    <div class="card shadow">
                        <div class="card-header">
                            <label for="subtotal_carrito" style="font-weight: bolder;">SubTotal:</label>  
                            <span class="form-control m-1" id="subtotal_carrito" style="text-align: right;">{{ total }}</span>
                            <label for="total_dtos" style="font-weight: bolder;">Total descuentos: </label>  
                            <span class="form-control m-1" id="total_dtos" style="text-align: right;">0.00</span>
                            <hr>
                            <label for="total_carrito" style="font-weight: bolder;">Total: </label>  
                            <span class="form-control m-1" id="total_carrito" style="text-align: right;">{{ total }}</span>
                        </div>
                        <div class="card-footer justify-content-right">
                            <button class="btn btn-primary" type="button" onclick="cerrarVenta()">Cerrar Venta</button>
                            <button class="btn btn-primary" type="button" onclick="imprime_presup()">Imprimir Presupuesto</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Funciones JavaScript para actualizar cantidades, calcular el total y manejar la forma de pago
function updateCantidad(itemKey, delta) {
    const inputId = `cant${itemKey}`; // genera el id dinámico
    const totlinid = `totlin${itemKey}`;
    var cantidadInput = document.getElementById(inputId); // Asumiendo que la clase de la columna de cantidad es "cantidad"
    var totlintable = document.getElementById(totlinid); // Asumiendo que la clase de la columna de cantidad es "cantidad"
    var subtotal = document.getElementById('subtotal_carrito');
    const cantidad = 1;
    // Crear un objeto con los datos a enviar
    const data = {
        cantidad: cantidad
    };
//    dashboard/<id_empresa>/agregar/<int:articulo_id>/'
    if (delta == 1) {
        fetch(`../agregar/${itemKey}/`, {
            method: 'POST',  // Cambiamos a POST para enviar datos
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Asegúrate de enviar el CSRF token para solicitudes POST
            },
            body: JSON.stringify(data) // Convertir el objeto de datos a JSON
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                cantidadInput.value = data.new_cantidad_art
                totlintable.innerText = data.new_total_linea
                subtotal.innerText = data.subtotalcarrito
                calcularTotal()
            } else {
                alert('Stock Insuficiente')
            }
        })
        .catch(error => console.error('Error al agregar al carrito:', error));

    } else {
        fetch(`../restar/${itemKey}/`, {
            method: 'POST',  // Cambiamos a POST para enviar datos
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Asegúrate de enviar el CSRF token para solicitudes POST
            },
            body: JSON.stringify(data) // Convertir el objeto de datos a JSON
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                cantidadInput.value = data.new_cantidad_art
                totlintable.innerText = data.new_total_linea
                subtotal.innerText = data.subtotalcarrito
                calcularTotal()
            } 
        })
        .catch(error => console.error('Error al agregar al carrito:', error));
    }
}

function removeItem(btndel) {
    let subtotal_carrito = document.getElementById('subtotal_carrito');
    const fila = btndel.parentNode.parentNode; // Obtiene la fila (tr)
    var itemKey = btndel.id.substring(3);

    fetch(`../remove/${itemKey}/`, {
        method: 'POST',  // Cambiamos a POST para enviar datos
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken') // Asegúrate de enviar el CSRF token para solicitudes POST
        },
    })
    .then(response => response.json())  // Convertimos la respuesta a JSON
    .then(data => {
        if (data.success) {  // Verificamos si la operación fue exitosa
            fila.remove(); // Elimina la fila del DOM
            subtotal_carrito.innerText = data.subtotalcarrito;  // Actualiza el subtotal en el input
            calcularTotal();  // Llama a la función para calcular el total
        } else {
            console.error('Error: Operación no exitosa.');
        }
    })
    .catch(error => console.error('Error al agregar al carrito:', error));
} 

        // Lógica para eliminar un artículo del carrito
    
function imprime_presup() {
        let formasPago = document.getElementById('forma_pago')
        let fpago = formasPago.options[formasPago.selectedIndex].value;
        let descuentoAdicional = document.getElementById('descuento_adicional').value.replace(',', '.') || 0;
        let subtotal = parseFloat(document.getElementById('subtotal_carrito').innerText) || 0;
        let total = parseFloat(document.getElementById('total_carrito').innerText) || 0;

        const clienteInput = document.getElementById('cliente').value;        
        //let clientes = document.getElementById('cliente')
        //let cliente = clientes.options[clientes.selectedIndex].innerText;
        // Lógica para cerrar la venta y generar el ticket
        const data = {
            formapago: fpago,
            descuentoAdicional: descuentoAdicional,
            subtotal: subtotal,
            total: total,
            cliente: clienteInput
        };

        fetch('imprime_presup/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de enviar el CSRF token para solicitudes POST
            },
            body: JSON.stringify(data)  // Reemplaza con el ID de empresa real
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const printWindow = window.open('', '', 'height=400,width=600');
                if (!printWindow) {
                    console.error("Error al abrir la ventana. El navegador puede estar bloqueando ventanas emergentes.");
                    return;
                } else {
                    imprimirTicket(printWindow, data.ticket_html);                    
                    //imprimirTicket(data.ticket_html)
                    const dashboardUrl = window.location.href.replace('/carrito/', '/');
                    ///\/carrito\/.*$/
                    window.location.href = dashboardUrl ;
                }
            } else {
                alert('Carrito está Vacío')
            }
                
        })
        .catch(error => console.error('Error al cerrar la venta:', error));
    };

function calcularTotal() {
        let total = 0;
        var total_dto_efectivo = 0;
        var total_dto_adicional = 0;
        var totaldtos = 0;
        let subtotal_carrito = document.getElementById('subtotal_carrito').innerText.replace(',', '.')
        
        let formasPago = document.getElementById('forma_pago')
        let fpago = formasPago.options[formasPago.selectedIndex].innerText;
        let descuentoEfectivo = parseInt(document.getElementById('descuento_efectivo').value) || 0;
        let descuentoAdicional = parseInt(document.getElementById('descuento_adicional').value) || 0;
        let totalDtos = parseInt(document.getElementById('total_dtos').value) || 0;
        var multi_efectivo = (descuentoEfectivo * 0.01) + 1
        var multi_dto_adicional = (descuentoAdicional * 0.01) + 1
        
        if (fpago === "Efectivo"){
            total_dto_efectivo = (parseFloat(subtotal_carrito) * (1 + descuentoEfectivo / 100)) - parseFloat(subtotal_carrito )
        }
        if (descuentoAdicional != 0){
            total_dto_adicional = (parseFloat(subtotal_carrito) * (1 + descuentoAdicional / 100)) - parseFloat(subtotal_carrito )
        }
        total = parseFloat(subtotal_carrito) - total_dto_efectivo - total_dto_adicional
        totaldtos = total_dto_efectivo + total_dto_adicional
        // Recalcular el total del carrito aplicando los descuentos
        // Aquí podrías iterar sobre los artículos del carrito usando JavaScript para recalcular
        document.getElementById('total_carrito').textContent = total.toFixed(2);
        document.getElementById('total_dtos').textContent = totaldtos.toFixed(2);
    }

    function actualizarDescuentoEfectivo() {
        // Actualizar el descuento de efectivo basado en la forma de pago seleccionada
        calcularTotal();
    }

    function cerrarVenta() {
        let formasPago = document.getElementById('forma_pago')
        let fpago = formasPago.options[formasPago.selectedIndex].value;
        let descuentoAdicional = document.getElementById('descuento_adicional').value.replace(',', '.') || 0;
        let descuentoefectivo = document.getElementById('descuento_efectivo').value.replace(',', '.') || 0;
        let subtotal = parseFloat(document.getElementById('subtotal_carrito').innerText) || 0;
        let total = parseFloat(document.getElementById('total_carrito').innerText) || 0;

        const clienteInput = document.getElementById('cliente').value;        
        //let clientes = document.getElementById('cliente')
        //let cliente = clientes.options[clientes.selectedIndex].innerText;
        // Lógica para cerrar la venta y generar el ticket
        const data = {
            formapago: fpago,
            dtoefectivo: descuentoefectivo,
            descuentoAdicional: descuentoAdicional,
            subtotal: subtotal,
            total: total,
            cliente: clienteInput
        };

        fetch('finalizar_compra/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de enviar el CSRF token para solicitudes POST
            },
            body: JSON.stringify(data)  // Reemplaza con el ID de empresa real
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const resultado = confirm('Venta cerrada con éxito. ¿Desea imprimir el ticket?');
                if (resultado) {
                    const printWindow = window.open('', '', 'height=400,width=600');
                    if (!printWindow) {
                        console.error("Error al abrir la ventana. El navegador puede estar bloqueando ventanas emergentes.");
                        return;
                    } else {
                        imprimirTicket(printWindow, data.ticket_html);                    
                        //imprimirTicket(data.ticket_html)
                        const dashboardUrl = window.location.href.replace('/carrito/', '/');
                        ///\/carrito\/.*$/
                        window.location.href = dashboardUrl ;
                    }
                }
                
                // Lógica adicional para imprimir el ticket o redirigir
            } else {
                alert(data.message || 'Hubo un error al cerrar la venta. Inténtelo de nuevo.');
            }
        })
        .catch(error => console.error('Error al cerrar la venta:', error));
    };


document.addEventListener('DOMContentLoaded', calcularTotal);

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function imprimirTicket(printWindow, ticket) {
    printWindow.document.write(ticket);
    printWindow.document.close();
    printWindow.focus();
    printWindow.print();
    printWindow.close();
}
/*function imprimirTicket(ticket) {
    const printWindow = window.open('', '', 'height=400,width=600');
    if (!printWindow) {
        console.error("Error al abrir la ventana. El navegador puede estar bloqueando ventanas emergentes.");
        return;
    }
    printWindow.document.write(ticket);
    printWindow.document.close();
    printWindow.focus();
    printWindow.print();
    printWindow.close();
}*/

</script>

{% endblock %}