<!-- carrito.html -->
{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<h1>Carrito de Compras</h1>

<div class="carrito-container">
    {% for key, item in carrito.items %}
    <div class="col-log-4" >
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.nombre }}</h5>
                <p class="card-text">Precio: {{ item.precio }}</p>
                <div class="quantity-controls">
                    <button class="btn btn-success" onclick="updateQuantity('{{ key }}', 'add')">+</button>
                    <input type="text" id="quantity-{{ key }}" value="{{ item.cantidad }}" readonly>
                    <button class="btn btn-danger" onclick="updateQuantity('{{ key }}', 'subtract')">-</button>
                </div>
            </div>
        </div>    
    </div>
    {% endfor %}
</div>

<form action="{% url 'cerrar_venta' id_empresa=empresa %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="payment_method">Forma de Pago:</label>
        <select id="payment_method" name="payment_method" class="form-control">
            <option value="contado">Contado</option>
            <option value="tarjeta_credito">Tarjeta Crédito</option>
            <option value="debito">Débito</option>
            <option value="transferencia">Transferencia</option>
        </select>
    </div>
    <div class="form-group">
        <label for="descuento_efectivo">Descuento por pago en efectivo:</label>
        <input type="text" id="descuento_efectivo" name="descuento_efectivo" value="{{ descuento_efectivo }}" readonly>
    </div>
    <div class="form-group">
        <label for="descuento_adicional">Descuento Adicional:</label>
        <input type="text" id="descuento_adicional" name="descuento_adicional" class="form-control">
    </div>
    <div class="form-group">
        <label for="total">Total:</label>
        <input type="text" id="total" name="total" value="{{ total }}" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Cerrar Venta</button>
</form>
<script>
function updateQuantity(itemKey, action) {
    const quantityInput = document.getElementById(`quantity-${itemKey}`);
    let currentQuantity = parseInt(quantityInput.value);
    
    if (action === 'add') {
        currentQuantity += 1;
    } else if (action === 'subtract' && currentQuantity > 1) {
        currentQuantity -= 1;
    }
    
    quantityInput.value = currentQuantity;
    
    // Aquí puedes hacer una llamada AJAX para actualizar el carrito en el servidor
}
    
</script>
{% endblock %}