{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% load static%}
{% block content %}
<div class="container-fluid">
    <div class="row m-3">
        <input type="hidden" id="pfamilia" value="{{id_familia}}">
        <h1 id="idempresa" style="display: none;">{{ id_empresa }}</h1>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Clientes - {{ nomempresa }}</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <input class="form-control" type="text" id="clientesearch" oninput="buscarcli()" placeholder="Buscar cliente...">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button class="btn btn-primary" onclick="window.location.href='0/?pfamilia={{ id_familia }}'">Nuevo</button>
                </div>
            </div>
            <hr>		
            <table class="table" id="tablecli">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th class="text-center" scope="col">Apellido</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Telefono</th>
                    </tr>
                </thead>
                <tbody id="clientesList">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/clientes.js' %}"></script>
{% endblock %}