{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<style>
    .left-nav {
        height: 100vh; /* Barra ocupa todo el alto de la ventana */
        position: fixed;
        overflow-y: auto; /* Para hacer scroll si es necesario */
    }
    .content {
        margin-left: 200px; /* Ancho equivalente al de la barra de navegación */
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-tabs">
        {% for empresa in empresas %}
            <li class="nav-item">
                <a class="nav-link {% if empresa.id == id_empresa %}active{% endif %}" id="navi{{ empresa.id }}" href="{% url 'dashboard' empresa.id %}">
                    {{ empresa.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
        <div class="col-lg-8" style="align-items:self-end;">
        <button type="button" class="btn btn-outline-success position-relative" title="Ver Pedido" onclick="window.location.href='carrito/'">Mi Carrito<i class="bi bi-cart">
            <span id="badgeCarrito" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                0 <!-- Número de artículos inicial -->
            </span>        
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg></i></button>
    </div>
</nav>
<div class="container-xxl">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">

                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <h1 id="idempresa" style="display: none;">{{ id_empresa }}</h1>
            <h1 id="empresa">{{ nomempresa }}</h1>
            <h1 id="idfamilia" style="display: none;">{{ id_familia }}</h1>
            <h1 id="familia">{{ familia_nom }}</h1>
            <input class="form-control" type="text" id="articsearch" oninput="buscart()" placeholder="Buscar artículo...">
            <hr>
            {% if id_empresa == user.perfil.idempresa_id or user.is_staff %}
                <a class="btn btn-primary" href="{% url 'article-detail' id_empresa 0 %}">Nuevo</a>
                <button class="btn btn-primary" id="toggleSeleccion">Seleccionar Todos</button>
                <!-- Button trigger modal -->
                <button type="button" id="cambioprecio" class="btn btn-primary btn-cambiarprecios" data-toggle="modal" data-target="#exampleModal">
                    Cambiar Precios</button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambio Precio varios Articulos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped shadow p-3 mb-5 bg-body-tertiary rounded" id="tableart_sel">
                                <thead>
                                    <tr>
                                        <th scope="col">Descripcion</th>
                                        <th class="text-center" scope="col">Precio Actual</th>
                                        <th class="text-center" scope="col">Precio Nuevo</th>
                                    </tr>
                                </thead>
                                <tbody id="articulos_sel">
                                </tbody>
                            </table>
                            <div class="mb-3">
                                <label for="margenPorcentaje" class="form-label">Porcentaje de Subida</label>
                                <input type="number" class="form-control" id="margenPorcentaje" style="text-align: right;" placeholder="0.00" oninput="calcula_precio_nuevo()">
                            </div>                                    
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="guardarprecio">Guardar</button>
                        </div>
                    </div>
                    </div>
                </div>            
                <hr>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <table class="table" id="tableart">
                        <thead>
                            <tr>
                                <th scope="col">Sel.</th>
                                <th scope="col">Descripcion</th>
                                <th class="text-center" scope="col">Precio</th>
                                <th class="text-center" scope="col">Fecha P.</th>
                                <th class="text-center" scope="col">Stock</th>
                                <th class="text-center" scope="col">Fecha S.</th>
                                <th class="text-center" scope="col" width="100"></th>
                            </tr>
                        </thead>
                        <tbody id="articulosList">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal para Regularizacion de Stock -->
            <div class="modal fade" id="regularizaStockModal" tabindex="-1" role="dialog" aria-labelledby="movimientoStockModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="regularizaStockModalLabel">Regularizacion de Stock</h5>
                            
                        </div>
                        <div class="modal-body">
                            <form id="formregularizaStock">
                                <div class="form-group mb-3">
                                    <input type="hidden" class="form-control" id="idartr">
                                    <h3 id="descriartr"></h3>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="motivoMovimiento">Motivo del Movimiento</label>
                                    <select class="form-control" id="motivoMovimientor" disabled>
                                        {% for motivo in motivos_regularizacion %}                                                
                                            <option value="{{ motivo }}">{{ motivo.get_motivo_display }}</option>
                                        {% endfor %}        
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="cantidadMovimiento">Cantidad</label>
                                    <input type="number" step="1.00" class="form-control" id="cantidadMovimientor" style="text-align: right;" placeholder="0.00" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="guardarregularizaStock">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para Entrada de Stock -->
            <div class="modal fade" id="entradaStockModal" tabindex="-1" role="dialog" aria-labelledby="entradaStockModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="entradaStockModalLabel">Entrada de Stock</h5>
                            
                        </div>
                        <div class="modal-body">
                            <form id="formentradaStock">
                                <div class="form-group mb-3">
                                    <input type="hidden" class="form-control" id="idarte">
                                    <h3 id="descriarte"></h3>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="motivoMovimiento">Motivo del Movimiento</label>
                                    <select class="form-control" id="motivoMovimientoe" onchange="manejar_disabled_compra()">
                                        {% for motivo in motivos_entrada %}                                                
                                            <option value="{{ motivo }}">{{ motivo.get_motivo_display }}</option>
                                        {% endfor %}        
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="empresaOrigen">Empresa Origen</label>
                                    <select class="form-control" id="empresaOrigen" disabled>
                                        {% for empresa in empresas %}
                                            {% if empresa.id != id_empresa %}                                                
                                                <option value="{{ key }}">{{ empresa.name }}</option>
                                            {% endif %}
                                        {% endfor %}        
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="cantidadMovimiento">Cantidad</label>
                                    <input type="number"  class="form-control" id="cantidadMovimientoe" style="text-align: right;" placeholder="0.00" required>
                                </div>
                                <div class="form-group mb-3" id="precioCompraGroup">
                                    <label for="precioCompra">Precio de Compra</label>
                                    <input type="number" step="1.00" class="form-control" id="precioComprae" style="text-align: right;" placeholder="0.00" required/>
                                </div>
                                <div class="form-group mb-3" id="docGroup">
                                    <label for="documentoe">Factura/Remito Compra </label>
                                    <input type="text" class="form-control" id="documentoe"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="guardarentradaStock">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para Salida de Stock -->
            <div class="modal fade" id="salidaStockModal" tabindex="-1" role="dialog" aria-labelledby="movimientoStockModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="salidaStockModalLabel">Salida de Stock</h5>
                            
                        </div>
                        <div class="modal-body">
                            <form id="formsalidaStock">
                                <div class="form-group mb-3">
                                    <input type="hidden" class="form-control" id="idarts">
                                    <h3 id="descriarts"></h3>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="motivoMovimiento">Motivo del Movimiento</label>
                                    <select class="form-control" id="motivoMovimientos" disabled>
                                        {% for motivo in motivos_salida %}                                                
                                            <option value="{{ motivo }}">{{ motivo.get_motivo_display }}</option>
                                        {% endfor %}        
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="empresaDestino">Empresa</label>
                                    <select class="form-control" id="empresaDestino">
                                        {% for empresa in empresas %}
                                            {% if empresa.id != id_empresa %}                                                
                                                <option value="{{ key }}">{{ empresa.name }}</option>
                                            {% endif %}
                                        {% endfor %}        
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="cantidadMovimiento">Cantidad</label>
                                    <input type="number" step="1.00" class="form-control" id="cantidadMovimientos" style="text-align: right;" placeholder="0.00" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="guardarsalidaStock">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="{% static 'js/articulos.js' %}"></script>
<script>
// Espera a que el DOM esté completamente cargado
let numeroDeArticulos = 0;
document.addEventListener('DOMContentLoaded', function() {
    // Selecciona todos los tbodys que necesiten gestionar los clics
    const tbodys = document.querySelectorAll('tbody[id^="articulosList"]'); // Por ejemplo, todos los IDs que empiezan con "carrito-"

    tbodys.forEach(tbody => {
        tbody.addEventListener('click', function(event) {
            if (event.target.closest('.agregar-carrito')) {
                const boton = event.target.closest('.agregar-carrito'); // Obtén el botón
                const articuloId = boton.getAttribute('data-id'); // Obtén el ID del artículo

                // Realiza la solicitud Fetch para agregar al carrito
                fetch(`agregar/${articuloId}/`)
                    .then(response => {
                        numeroDeArticulos += 1; // Aumenta el número de artículos
                        actualizarBadgeCarrito();
                    })
                    .catch(error => console.error('Error al agregar al carrito:', error));
            }
        });
    });
});
function actualizarBadgeCarrito() {
    const badgeCarrito = document.getElementById('badgeCarrito');
    badgeCarrito.textContent = numeroDeArticulos; // Actualiza el texto del badge
}
document.addEventListener("click", function(e) {
    const target = e.target;
    // Verifica si el clic fue en el botón o en un hijo del botón
    if (target.classList.contains("actualizar-stock") || target.closest(".actualizar-stock")) {
        const boton = target.closest(".actualizar-stock"); // Obtén el botón
        const idArticulo = boton.getAttribute("data-id-articulo");
        const descripcion = document.getElementById(`descri${idArticulo}`);
        const cantidad = document.getElementById('cantidadMovimientor')
        cantidad.value = ''
        // Lógica para abrir el modal
        const idart_modal = document.getElementById('idartr')
        idart_modal.innerText = idArticulo
        const descriart_modal = document.getElementById('descriartr')
        descriart_modal.innerHTML = descripcion.textContent;
        $("#regularizaStockModal").modal("show");
    }
});

document.addEventListener("click", function(e) {
    const target = e.target;
    // Verifica si el clic fue en el botón o en un hijo del botón
    if (target.classList.contains("entrada-stock") || target.closest(".entrada-stock")) {
        const boton = target.closest(".entrada-stock"); // Obtén el botón
        const idArticulo = boton.getAttribute("data-id-articulo");
        const descripcion = document.getElementById(`descri${idArticulo}`);
        // Lógica para abrir el modal
        const idart_modal = document.getElementById('idarte')
        idart_modal.innerText = idArticulo
        const descriart_modal = document.getElementById('descriarte')
        descriart_modal.innerHTML = descripcion.textContent;    
        const cantidad = document.getElementById('cantidadMovimientoe')
        cantidad.value = ''
        const documentoe = document.getElementById('documentoe')
        documentoe.value = ''

        const fila = boton.closest("tr"); 
    
    // Encuentra la celda de precio de compra en la misma fila
        const precioCompraCelda = fila.querySelector(".preciocompra");
        
        // Recupera el valor del precio de compra de la celda
        const precio_compra = precioCompraCelda.textContent; 

        const precio_compra_num = precio_compra.replace(/\./g, '').replace(',', '.');
        const precio_compra_modal = document.getElementById('precioComprae');
        precio_compra_modal.value = parseFloat(precio_compra_num);
        $("#entradaStockModal").modal("show");
    }
});

document.addEventListener("click", function(e) {
    const target = e.target;
    // Verifica si el clic fue en el botón o en un hijo del botón
    if (target.classList.contains("salida-stock") || target.closest(".salida-stock")) {
        const boton = target.closest(".salida-stock"); // Obtén el botón
        const idArticulo = boton.getAttribute("data-id-articulo");
        const descripcion = document.getElementById(`descri${idArticulo}`);
        // Lógica para abrir el modal
        const idart_modal = document.getElementById('idarts')
        idart_modal.innerText = idArticulo
        const descriart_modal = document.getElementById('descriarts')
        descriart_modal.innerHTML = descripcion.textContent;
        const cantidad = document.getElementById('cantidadMovimientos')
        cantidad.value = ''

        $("#salidaStockModal").modal("show");
    }
});
document.addEventListener("click", function(e) {
    const target = e.target;
    // Verifica si el clic fue en el botón o en un hijo del botón
    if (target.classList.contains("btn-cambiarprecios")) {
        const checkboxes = document.querySelectorAll('.form-check-input');
        var anyselected = false
        // Itera sobre los checkboxes y los marca como 'checked'
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                anyselected = true;
            }
        });
        if (anyselected){
            moverFilasSeleccionadas(); // Llamar a la función que mueve las filas seleccionadas
            $("#exampleModal").modal("show");
        } else {
            alert('Seleccione al menos un Articulo')
        }
    }
});
document.getElementById('guardarprecio').addEventListener('click', () => {
    const tablaModal = document.getElementById('articulos_sel');
    const articulosActualizados = [];
    const margen = document.getElementById('margenPorcentaje');
    if (margen.value !='0' && margen.value != ''){
        Array.from(tablaModal.rows).forEach((row, rowIndex) => {
        //if (rowIndex === 0) return; // Saltar la fila de encabezado, si existe

        const articuloId = row.cells[3].innerText;  // Suponiendo que el ID del artículo está en la primera celda
        const nuevoPrecio = parseFloat(row.cells[2].innerText.replace('.', '').replace(',', '.'));  // Suponiendo que el nuevo precio está en la tercera celda y formateado como "9.999,00"

        // Agregar artículo a la lista con el ID y el nuevo precio
        articulosActualizados.push({ id: articuloId, nuevo_precio: nuevoPrecio, porcentaje : margen.value });
        });

        // Enviar la lista de artículos actualizados al servidor usando AJAX
        fetch('/myapp/actualizar_precios/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Incluye el token CSRF si usas Django
            },
            body: JSON.stringify({ articulos: articulosActualizados })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Cerrar el modal al completar la actualización
                $('#exampleModal').modal('hide');
                alert('¡Precios actualizados con éxito!');
                const btnCambioprecio = document.getElementById('cambioprecio');
                const margenPorcentaje = document.getElementById('margenPorcentaje');
                const btnselall = document.getElementById('toggleSeleccion')
                margenPorcentaje.innerHTML = '0,00'
                // actualizo dashboard
                buscart();
                btnselall.textContent = "Seleccionar Todos"
            } else {
                alert('Error al actualizar los precios. Por favor, inténtalo de nuevo.');
            }
        })
        .catch(error => console.error('Error al actualizar precios:', error));
    } else {
        alert('Porcentaje de Subida no puede ser 0')
    }

});

// Función para obtener el token CSRF si usas Django
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

 document.getElementById('toggleSeleccion').addEventListener('click', function() {
       // Selecciona todos los checkboxes con la clase 'checkbox-row'
        const checkboxes = document.querySelectorAll('.form-check-input');
        const isSelectAll = this.textContent === 'Seleccionar Todos';
        const btnCambioprecio = document.getElementById('cambioprecio');
        // Itera sobre los checkboxes y los marca como 'checked'
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                checkbox.checked = false;
                btnCambioprecio.disabled = true    
            } else {
                checkbox.checked = true;
                btnCambioprecio.disabled = false    
            }
        });
        
        this.textContent = isSelectAll ? 'Deseleccionar Todos' : 'Seleccionar Todos';
});
document.addEventListener('DOMContentLoaded', (event) => {
    // Ejecutar código cuando el modal se abre
    const modal = document.getElementById('exampleModal');
    modal.addEventListener('shown.bs.modal', () => {
        moverFilasSeleccionadas(); // Llamar a la función que mueve las filas seleccionadas
    });
});

function moverFilasSeleccionadas() {
    const tablaOriginal = document.getElementById('articulosList');
    const tablaModal = document.getElementById('articulos_sel');
    // Limpia la tabla del modal para evitar duplicados
    tablaModal.innerHTML = "";
    var checked = false 
    // Recorre todas las filas de la tabla original
    Array.from(tablaOriginal.rows).forEach(row => {
        // Encuentra el checkbox en la fila actual
        const checkbox = row.querySelector('.form-check-input');

        // Si el checkbox está seleccionado
        if (checkbox && checkbox.checked) {
            // Crea una nueva fila en la tabla del modal
            const nuevaFila = tablaModal.insertRow();
            checked = true
            // Copia el contenido de las celdas de la fila original
            Array.from(row.cells).forEach((cell, index) => {
                if (index == 1 || index == 2) {  // Excluye la columna del checkbox
                    const nuevaCelda = nuevaFila.insertCell();
                    if (index == 2) {
                        nuevaCelda.style.textAlign = 'right';
                    }
                    nuevaCelda.innerHTML = cell.innerText;
                    if (index == 2) {
                        const nuevaCelda = nuevaFila.insertCell();
                        nuevaCelda.innerHTML = '0.00'
                        nuevaCelda.style.textAlign = 'right';
                    }
                }
                if (index == 12) {
                    const nuevaCelda = nuevaFila.insertCell();
                    nuevaCelda.innerHTML = cell.innerText;
                    nuevaCelda.style.display = 'none'
                }
            });
        }
    });
}
function calcula_precio_nuevo() {
    const tablaModal = document.getElementById('articulos_sel');
    const margen = document.getElementById('margenPorcentaje');
    // Limpia la tabla del modal para evitar duplicados
    var precionuevo = 0
    var multi = (margen.value * 0.01) + 1
    // Recorre todas las filas de la tabla original
    Array.from(tablaModal.rows).forEach(row => {
            Array.from(row.cells).forEach((cell, index) => {
                if (index == 1) {
                    const precioOriginal = parseFloat(cell.innerHTML.replace('.', '').replace(',', '.')); // Convertir a número
                    precionuevo = precioOriginal * multi;
                }
                if (index == 2) {  
                    cell.innerHTML = formatNumberToEuropeanStyle(precionuevo)
                }
            });
    });
}
function guardarMovimiento(empresa, id_articulo, tipoMovimiento, motivo, cantidad, precioCompra, numdoc) {
    // Configura los datos a enviar
    const datos = {
        empresa : empresa,
        id_articulo : id_articulo,
        tipo_movimiento: tipoMovimiento,
        motivo: motivo,
        cantidad: cantidad,
        precio_compra: precioCompra,
        numdoc: numdoc
    };
    if (cantidad.value !='0' && cantidad.value != ''){
        // Envía la solicitud a la URL para guardar el movimiento en la base de datos
        fetch('/myapp/guardar_movimiento/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(datos)
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message)
            if (data.modal == 'Regularizacion'){
                $('#regularizaStockModal').modal('hide');
            } else if (data.modal == 'Entrada'){  
                $('#entradaStockModal').modal('hide');
            } else {
                $('#salidaStockModal').modal('hide');
            }    
            buscart();
            // Maneja la respuesta aquí (por ejemplo, cierra el modal y muestra un mensaje)
        })
        .catch(error => {
            console.error('Error:', error);
            // Maneja el error aquí
        });
    } else {
        alert('Cantidad no puede ser 0')
    }
}
document.getElementById('guardarregularizaStock').addEventListener('click', function() {
    const tipoMovimiento = 'Regularizacion';
    const id_articulo = document.getElementById('idartr').innerText;
    const motivo = document.getElementById('motivoMovimientor').value;
    const cantidad = document.getElementById('cantidadMovimientor').value;
    if (cantidad !='0' && cantidad != ''){
        guardarMovimiento('0', id_articulo, tipoMovimiento, motivo, cantidad, 0, '');
    } else {
        alert('Entre una cantidad')
    }
});

document.getElementById('guardarentradaStock').addEventListener('click', function() {
    const tipoMovimiento = 'Entrada';
    const id_articulo = document.getElementById('idarte').innerText;
    const empresa = document.getElementById('empresaOrigen').innerText;
    const motivo = document.getElementById('motivoMovimientoe').value;
    const cantidad = document.getElementById('cantidadMovimientoe').value;
    const precioCompra = document.getElementById('precioComprae').value;
    const documentoe = document.getElementById('documentoe').value;
    if (cantidad !='0' && cantidad != ''){
        guardarMovimiento(empresa, id_articulo, tipoMovimiento, motivo, cantidad, precioCompra, documentoe);
    } else {
        alert('Cantidad no puede ser 0')
    }
});

document.getElementById('guardarsalidaStock').addEventListener('click', function() {
    const tipoMovimiento = 'Salida';
    const id_articulo = document.getElementById('idarts').innerText;
    const empresa = document.getElementById('empresaDestino').innerText;
    const motivo = document.getElementById('motivoMovimientos').value;
    const cantidad = document.getElementById('cantidadMovimientos').value;
    if (cantidad !='0' && cantidad != ''){
        guardarMovimiento(empresa, id_articulo, tipoMovimiento, motivo, cantidad, 0, '');
    } else {
        alert('Cantidad no puede ser 0')
    }
});

function manejar_disabled_compra() {
    const motivo = document.getElementById('motivoMovimientoe').value;
    const empresa = document.getElementById('empresaOrigen');
    const preciocompra = document.getElementById('precioComprae');
    const documentoe = document.getElementById('documentoe');
// Agrega un event listener al select que controla el estado
    // Verifica el valor seleccionado y habilita/deshabilita los campos según corresponda
    console.log(motivo)
    if (motivo == 'Compra') {
        empresa.disabled = true;
        preciocompra.disabled = false;
        documentoe.disabled = false;
    } else {
        empresa.disabled = false;
        preciocompra.disabled = true;
        documentoe.disabled = true;
    }
}

function formatNumberToEuropeanStyle(number) {
    // Convertir el número a un string con 2 decimales
    const formattedNumber = number.toFixed(2);
    
    // Reemplazar el punto decimal con una coma
    const parts = formattedNumber.split('.');
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    
    return parts.join(',');
}
</script>
<script>
    $(document).ready(function (){
        var id_empresa = document.getElementById('idempresa').innerText
        familias_empresa(id_empresa);
	});
function ponerfamilia(idfamilia, nomfamilia){
    $('#idfamilia').html(idfamilia);
    $('#familia').html(nomfamilia);
    buscart();
}

</script>
{% endblock %}