{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% load static%}
{% block content %}
<div class="container-fluid p-3">
    <div class="card shadow p-2 m-2">
        <div class="shadow m-2"><h1>Ventas</h1></div>
        <!-- Aquí puedes agregar otros controles, pero sin un formulario explícito -->
        <br>
        <div class="row">
            <input type="hidden" id="pfamilia" value="{{id_familia}}">
            <div class="col-md-4">
                <label for="empresa" class="form-label">Empresa</label>
                <select id="empresa" class="form-select">
                    <option value="todos">0 - Todos</option>
                        {% for empresa in empresas %}
                            {% if empresa.id == id_empresa|add:0 %}
                                <option selected value={{empresa.id}}>{{empresa}}</option>
                            {% else %}
                                <option value={{empresa.id}}>{{empresa}}</option>
                            {% endif %}
                        {% endfor %}    
                </select>
            </div>
            <div class="col-md-4">
                <label for="fecha_desde" class="form-label">Fecha Desde</label>
                <input type="date" id="fecha_desde" class="form-control" value="{{ fecha_desde|date:'Y-m-d' }}">
            </div>
            <div class="col-md-4">
                <label for="fecha_hasta" class="form-label">Fecha Hasta</label>
                <input type="date" id="fecha_hasta" class="form-control" value="{{ fecha_hasta|date:'Y-m-d' }}">
            </div>
        </div>
        
    </div>
    <br>
    <!-- Tabla para mostrar los resultados -->
    <div class="card shadow p-2 m-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Venta N°</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>F.Pago</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody id="ventas-table-body">
                <!-- Los datos de los movimientos se cargarán aquí dinámicamente vía AJAX -->
            </tbody>
        </table>
        {% if user.is_staff %}
            <p>Total Ventas $: <span id="total-imptotal"></span></p>
        {% endif %}
    </div>
    <div id="pagination" class="pagination-buttons">
        <!-- Aquí se renderizan los botones de paginación mediante JS -->
    </div>
</div>

<script>
let currentPage = 1;  // Guardar la página actual

function loadVentas(page) {
    const empresa = document.getElementById('empresa').value;
    const fechaDesde = document.getElementById('fecha_desde').value;
    const fechaHasta = document.getElementById('fecha_hasta').value;
    const familia = document.getElementById('pfamilia').value;
    const url = "{% url 'ajax_list_ventas' %}?empresa=" + encodeURIComponent(empresa) +
                "&pfamilia=" + familia +      
                "&fecha_desde=" + encodeURIComponent(fechaDesde) +
                "&fecha_hasta=" + encodeURIComponent(fechaHasta) +
                "&page=" + page

                fetch(url, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        const tableBody = document.getElementById('ventas-table-body');
        tableBody.innerHTML = '';  // Limpiar la tabla

        if (data.ventas) {
            // Iterar sobre las ventas (cabeceras)
            data.ventas.forEach(venta => {
                // Acceder a la cabecera
                const cabecera = venta.cabecera;

                // Crear una fila para la cabecera de la venta
                var rowCabecera = `             
                    <tr>
                        <td style="font-weight:bold;">
                            ${cabecera.id} 
                        </td>
                        <td style="font-weight:bold;">
                            ${cabecera.fechav} 
                        </td>
                        <td style="font-weight:bold;">
                            ${cabecera.cliente} 
                        </td>
                        <td style="font-weight:bold;">
                            ${cabecera.fpago} 
                        </td>
                        <td style="font-weight:bold;">
                            ${cabecera.usuario} 
                        </td>
                        <td style="font-weight:bold;color:red;">
                            ${cabecera.anulada}
                        </td>
                        <td style="font-weight:bold;">
                        </td>
                        <td style="font-weight:bold;">
                        </td>
                    <td style="font-weight:bold;">`;
                if (venta.cabecera.anulada == "")  {
                    rowCabecera += ` 
                            <button class="btn btn-danger" style="background-color : IndianRed;" id="${cabecera.id}" onclick="removeVenta(this.id)" title="Eliminar Venta"><i class="bi bi-trash3"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            </button>
                        </td>`
                }
                rowCabecera += '</tr>'
                tableBody.innerHTML += rowCabecera;

                // Acceder a los movimientos de la cabecera
                venta.movimientos.forEach(mov => {
                    const rowMovimiento = `
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>${mov.cantidad}</td>
                            <td>${mov.articulo}</td>
                            <td style="text-align: right;">${mov.precio}</td>
                        </tr>
                    `;
                    tableBody.innerHTML += rowMovimiento;
                });
                const rowTotales = `             
                    <tr>
                        <td style="font-weight:bold;">
                        </td>
                        <td style="font-weight:bold;">
                        </td>
                        <td style="font-weight:bold;">
                        </td>
                        <td style="font-weight:bold;">
                        </td>
                        <td style="font-weight:bold;">
                        </td>
                        <td style="font-weight:bold;">
                            
                        </td>
                        <td colspan="3" style="font-weight:bold;text-align: right;">
                            Sub-Total $: ${cabecera.subtotal}&nbsp;&nbsp;&nbsp;&nbsp;Dto. Eftvo.: ${cabecera.dtoeftvo}&nbsp;&nbsp;&nbsp;&nbsp;Otro Dto.:${cabecera.otrodto}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total $: ${cabecera.imptotal}
                        </td>
                        </tr>
                    `;
                tableBody.innerHTML += rowTotales;
            });
            $('#total-imptotal').text(data.total_imptotal);
        }

        // Actualizar la paginación
        const pagination = document.getElementById('pagination');
        pagination.innerHTML = '';  // Limpiar la paginación

        let paginationHtml = `<ul class="pagination">`;

        // Botón de "Anterior"
        if (data.has_previous) {
            paginationHtml += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadVentas(${data.page_number - 1})">Previous</a>
                </li>
            `;
        } else {
            paginationHtml += `
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            `;
        }

        // Números de página
        for (let i = 1; i <= data.total_pages; i++) {
            paginationHtml += `
                <li class="page-item ${i === data.page_number ? 'active' : ''}">
                    <a class="page-link" href="#" onclick="loadVentas(${i})">${i}</a>
                </li>
            `;
        }

        // Botón de "Siguiente"
        if (data.has_next) {
            paginationHtml += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadVentas(${data.page_number + 1})">Next</a>
                </li>
            `;
        } else {
            paginationHtml += `
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            `;
        }

        paginationHtml += `</ul>`;
        pagination.innerHTML = paginationHtml;
    })
    .catch(error => {
        console.error('Error al cargar las ventas:', error);
    });
}
function removeVenta (id) {
    const resultado = confirm(`¿Seguro desea anular la venta ${id}?`);
    if (resultado) {
        const data = {
            id_venta: id,
        }

        fetch('/myapp/anular_venta/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de enviar el CSRF token para solicitudes POST
            },
            body: JSON.stringify(data)  // Reemplaza con el ID de empresa real
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Venta Anulada con éxito.');
            } else {
                alert(data.message || 'Hubo un error al Anular la venta. Inténtelo de nuevo.');
            }
        })
        .catch(error => console.error('Error al cerrar la venta:', error));
    };
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


// Llamada inicial cuando se carga la página
document.addEventListener("DOMContentLoaded", function() {
    loadVentas();
});

// Agregar event listeners para recargar cuando los filtros cambian
document.getElementById('empresa').addEventListener('change', loadVentas);
document.getElementById('fecha_desde').addEventListener('change', loadVentas);
document.getElementById('fecha_hasta').addEventListener('change', loadVentas);
</script>
{% endblock %}